{% extends 'layout.html' %}

{% block headscript %}
    <script src="{{ url_for('static', filename='download_table.js') }}"></script>
{% endblock %}

{% block content %}
    <ul class="container-sm list-group mt-5">
        <li class="list-group-item">TABLE</li>
        <li class="list-group-item">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for column in columns %}
                            <th scope="col">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <th scope="row">{{ row[0] }}</th>
                            {% for elm in row[1:] %}
                                <td>{{ elm }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        <button type="button" class="list-group-item list-group-item-action" onclick="tableToCSV()">CSV로 다운로드</button>
    </ul>
{% endblock %}